.js.menu-opened {
    overflow: hidden;
    &:after {
        content: "";
        display: block;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba( #000000, .5)
    }
}

.header-nav {
    $h: 50px;
    $breakpoint: 680px;
    background-color: lighten($main-color, 10%);
    .js & {
        height: $h; // overflow: hidden;
        .container {
            height: 100%;
        }
    }
    &__logo {
        display: inline-block;
        height: $h;
        max-width: 300px;
        position: relative;
        top: 10px;
        z-index: 11;
        img {
            height: 100%;
            max-height: 100%;
        }
    }
    &__hamburgguer {
        display: none;
        .js & {
            display: block;
            float: right;
            height: 100%;
            border: none;
            background-color: transparent;
            color: white;
            font-size: 2em;
            padding: .1em .5em;
            margin-right: -15px;
            &:hover,
            &:focus {
                background-color: lighten($main-color, 5%);
            }
            @media screen and (min-width: #{$breakpoint}) {
                display: none;
            }
        }
    }
    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            color: white;
            display: block;
            font-size: 1.5em;
            border-top: 1px solid darken($main-color, 5%);
            padding: 1em;
            &:hover {
                background-color: darken($main-color, 3%);
            }
        }
        .js & {
            @media screen and (max-width: #{$breakpoint}) {
                background-color: darken($main-color, 10%);
                position: fixed;
                z-index: 10;
                top: $h;
                left: -100%;
                width: 80%;
                bottom: 0;
                transition: left .3s ease-out;
            }
        }
        .menu-opened & {
            display: block;
            @media screen and (max-width:#{$breakpoint}) {
                left: 0;
            }
        }
        @media screen and (min-width: #{$breakpoint}) {
            display: inline-block;
            float: right;
            height: $h;
            li {
                display: inline-block;
                a {
                    border-top: none;
                    transition: all .3s ease-in-out;
                    padding: 15px;
                    &:hover {
                        transform: translateY(.5em);
                        box-shadow: 0 5px 15px -10px black;
                    }
                }
            }
        }
    }
}