@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold; }

.header-animado {
  height: 365px;
  padding-top: 36px;
  background-color: #64a59a;
  padding-bottom: 0;
  margin-bottom: 0px; }
  @media screen and (min-width: 480px) {
    .header-animado {
      height: 325px; } }
  @media screen and (min-width: 960px) {
    .header-animado {
      height: 475px; } }
  .header-animado .header-animado__title {
    color: #00151a;
    font-size: 28px;
    font-weight: bold; }
  .header-animado .header-animado__subtitle {
    color: white;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.5; }
  .header-animado__ilustra {
    position: relative;
    background-image: url(../imagens/cenario_all_960.png);
    height: 150px;
    background-size: auto 100%;
    background-position: center top; }
    .header-animado__ilustra > div {
      display: none; }
    @media screen and (min-width: 480px) {
      .header-animado__ilustra {
        background-image: url(../imagens/cenario_all_1530.png); } }
    @media screen and (min-width: 960px) {
      .header-animado__ilustra {
        background-image: url(../imagens/cenario_bg.png);
        height: 300px; }
        .header-animado__ilustra > div {
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 4800px; }
      @keyframes anima_cenario {
        from {
          transform: translateX(-50%) translateZ(0); }
        to {
          transform: translateX(0%) translateZ(0); } }
        .header-animado__ilustra .nuvens {
          background-image: url(../imagens/cenario_nuvens.png);
          animation: anima_cenario 90s linear infinite reverse; }
        .header-animado__ilustra .casas {
          background-image: url(../imagens/cenario_casas.png);
          animation: anima_cenario 30s linear infinite reverse; }
        .header-animado__ilustra .rua {
          background-image: url(../imagens/cenario_rua.png);
          animation: anima_cenario 30s linear infinite reverse; }
        .header-animado__ilustra .carrosCima {
          background-image: url(../imagens/cenario_carrosCima.png);
          animation: anima_cenario 15s linear infinite reverse; }
        .header-animado__ilustra .carrosBaixo {
          background-image: url(../imagens/cenario_carrosBaixo.png);
          animation: anima_cenario 15s linear infinite; } }

.header-nav {
  background-color: #84b8af; }
  .js .header-nav {
    height: 50px; }
    .js .header-nav .container {
      height: 100%; }
  .header-nav__logo {
    display: inline-block;
    height: 50px;
    max-width: 300px;
    position: relative;
    top: 10px;
    z-index: 2; }
    .header-nav__logo img {
      height: 100%;
      max-height: 100%; }
  .header-nav__hamburgguer {
    display: none; }
    .js .header-nav__hamburgguer {
      display: block;
      float: right;
      height: 100%;
      border: none;
      background-color: transparent;
      color: white;
      font-size: 2em;
      padding: .1em .5em;
      margin-right: -15px; }
      .js .header-nav__hamburgguer:hover, .js .header-nav__hamburgguer:focus {
        background-color: #74aea5; }
  .header-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header-nav__menu a {
      color: white;
      display: block;
      font-size: 1.5em;
      border-top: 1px solid #58988d;
      padding: 1em; }
      .header-nav__menu a:hover {
        background-color: #5c9e93; }
    .js .header-nav__menu {
      display: none; }
    .menu-openned .header-nav__menu {
      display: block; }
